@import 'compass';

@font-face {
font-family: 'icomoon';
src:url('../fonts/icomoon.eot');
src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
url('../fonts/icomoon.woff') format('woff'),
url('../fonts/icomoon.ttf') format('truetype'),
url('../fonts/icomoon.svg#icomoon') format('svg');
font-weight: normal;
font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
font-family: 'icomoon';
content: attr(data-icon);
speak: none;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
}


/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-archive,
.icon-user,
.icon-archive-2,
.icon-location,
.icon-mail,
.icon-link,
.icon-search,
.icon-info,
.icon-clock,
.icon-locked,
.icon-unlocked,
.icon-refresh,
.icon-list,
.icon-vimeo,
.icon-facebook,
.icon-googleplus,
.icon-twitter,
.icon-linkedin,
.icon-Threshold_logo,
.icon-map,
.icon-arrow-right,
.icon-chat,
.icon-mobile,
.icon-map-2,
.icon-arrow-right-2,
.icon-list-ul,
.icon-key,
.icon-magic,
.icon-building,
.icon-key-stroke,
.icon-camera {
font-family: 'icomoon';
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
}
.icon-archive:before {
content: "\e005";
}
.icon-user:before {
content: "\e006";
}
.icon-archive-2:before {
content: "\e008";
}
.icon-location:before {
content: "\e00a";
}
.icon-mail:before {
content: "\e00e";
}
.icon-link:before {
content: "\e013";
}
.icon-search:before {
content: "\e014";
}
.icon-info:before {
content: "\e018";
}
.icon-clock:before {
content: "\e01a";
}
.icon-locked:before {
content: "\e022";
}
.icon-unlocked:before {
content: "\e023";
}
.icon-refresh:before {
content: "\e024";
}
.icon-list:before {
content: "\e025";
}
.icon-vimeo:before {
content: "\e007";
}
.icon-facebook:before {
content: "\e00b";
}
.icon-googleplus:before {
content: "\e02b";
}
.icon-twitter:before {
content: "\e02c";
}
.icon-linkedin:before {
content: "\e02d";
}
.icon-Threshold_logo:before {
content: "\e01b";
}
.icon-map:before {
content: "\e02e";
}
.icon-arrow-right:before {
content: "\e009";
}
.icon-chat:before {
content: "\e004";
}
.icon-mobile:before {
content: "\e003";
}
.icon-map-2:before {
content: "\e001";
}
.icon-arrow-right-2:before {
content: "\e00d";
}
.icon-list-ul:before {
content: "\f0ca";
}
.icon-key:before {
content: "\e011";
}
.icon-magic:before {
content: "\f0d0";
}
.icon-building:before {
content: "\f0f7";
}
.icon-key-stroke:before {
content: "\e002";
}
.icon-camera:before {
content: "\e00f";
}


/* Mixins */

@mixin btn-theme($btn-color) {
	border-color: $btn-color;
	background-color: $btn-color;
	&:hover {
		background-color: lighten($btn-color, 4%);
		border-color: lighten ($btn-color, 4%);
}
}

@mixin btnHallow-theme($btnHallow-color) {
	border-color: $btnHallow-color;
	background: none;
	color: $btnHallow-color;
	&:hover {
		background-color: lighten($btnHallow-color, 4%);
		border-color: lighten ($btnHallow-color, 4%);
}
}

@mixin trans($val) {
	-webkit-transition: $val;
	-moz-transition: $val; 
	-o-transition: $val; 
	transition: $val; 
}

@mixin absolute-center {
  width: 50%;
  height: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-repeat: no-repeat;
}

@mixin is-image {
	background: no-repeat fixed center center;
}


@mixin section{
	padding: 100px 0;
}


@mixin background-fixed ($image) {
	background: url($image);
	background-attachment: fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover; 
  	height: auto;
  	top: 0;
  	left: 0;
  	background-position: center top;
  	// background-position: center center;
	}

@mixin background ($image) {
	background: url($image) scroll no-repeat 50% 20%;
	width: 100%;
	height: 100%;
	background-size: cover;
	overflow: hidden;
}

@mixin sprite ($image) {
	background: url($image) center top no-repeat;
	width: 75%;
	height: 100%;
	padding-top: 100%;
	background-size: contain;
	overflow: hidden;
}

@mixin background-center ($image) {
	background: url($image) scroll no-repeat 50% 50%;
	width: 100%;
	height: 100%;
	background-size: cover;
	overflow: hidden;
	}

@mixin image-2x ($image) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    	background-image: url($image);

  }
}

@mixin image-2x-d ($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}


@mixin breakpoint($point) {


  @if $point == 1201px {
    @media (min-width: 1201px) { @content; }
  }
  @else if $point == 1200 {
	@media (max-width: 1200px) { @content; }
  }
  @else if $point == 992px {
	@media (max-width: 992px) { @content; }
  }
  @else if $point == 768px {
    @media (max-width: 767px) { @content; }
  }
  @else if $point == 479px {
    @media  (max-width: 479px) { @content; }
  }
  @else if $point == 480px {
    @media  (min-width: 479px) { @content; }
  }
}



// , $width, $height

/* Variables */
$rgbaWhite: rgba(255,255,255,1.0);
$rgbaBlack: rgba(0,0,0,1.0);
$rgbadarkGray: rgba(48,59,63, .5);
$darkGray: #404040;
$lightGray: #f7f7f7;
$borderGray: #ededed;
$white: #fff;
$Gray: #c1c1c1;
$midGray: #666666;
$phoneGray: #b3b3b3;
$blue: #37a7cc;
$backgroundBlue: #f2f6f7;
$orange: #ff9900;
$hallow: rgba(255,255,255,0.0);
$featureGray: #e0e0e0;
$opacity: 1.0;


/* Button Global */

.btnSolid {
	padding: 1em 1.5em;
	border: 1px solid;
	border-radius:5px;
	font-weight: 500;
	letter-spacing: .08em;
	color: white;
	@include trans(.25s ease-in-out);
	text: {
		transform: uppercase;
		decoration: none;
		shadow: 0 .063em rgba(black,.3);
	}
	&:hover {
		color: white;
	}
  cursor:pointer;
}

.btnHallow {
	padding: 1em 1.5em;
	border: 1px solid;
	border-radius:5px;
	font-weight: 500;
	letter-spacing: .08em;
	color: inherit;
	background-color: none;
	@include trans(.25s ease-in-out);
	text: {
		transform: uppercase;
		decoration: none;
		shadow: 0 .063em rgba(black,.3);
	}
	&:hover {
		color: white;
	}
  cursor:pointer;
}



/* Themes */

.darkGray {
	@include btn-theme($darkGray);
}
.white {
	@include btn-theme($white);
}
.Gray {
	@include btn-theme($Gray);
}
.blue {
	@include btn-theme($blue);
}
.orange {
	@include btn-theme($orange);
}

.darkGrayHallow {
	@include btnHallow-theme($darkGray);
}
.whiteHallow {
	@include btnHallow-theme($white);
}
.GrayHallow {
	@include btnHallow-theme($Gray);
}
.blueHallow {
	@include btnHallow-theme($blue);
}
.orangeHallow {
	@include btnHallow-theme($orange);
}



/*-------- Global Styles --------*/



body, h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5, p {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

body {
	// height:100%;
	// overflow: scroll;
	-webkit-overflow-scrolling: touch;
	line-height: 1.52;
}

.modal-body {
  position: relative;
  padding: 0;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 0;
}

.absolute {
	position: absolute;
}

a {
	text-decoration: none;
	font-weight: 500;
}

a:hover, a:focus {
	color: inherit;
    text-decoration: none;
}


p {
	font-size: 1.1em;
	margin: 20px 0;
	color: $midGray;
}


h2 {
	letter-spacing: .05em;
}

h3 {
    font-size: 18px;
    line-height: 1.2;
}

ul {
	-moz-padding-start: 0;
	-webkit-padding-start: 0;
	-khtml-padding-start: 0;
	-o-padding-start: 0;
	padding-start: 0;
	padding: 0;
}

.text-pg-muted {
	color: $midGray;
}



@include breakpoint (768px) {
	h1 {
		font-size: 32px;
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 18px;
	}
	h4 {
		font-size: 14px;
	}
}

@include breakpoint (479) {
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 16px;
	}
	h4 {
		font-size: 14px;
	}
	p {
		font-size: 14px;
		font-weight: 300;
	}
}

/*-------Section 1---------*/


// .header-intro {
// 	-webkit-font-smoothing: antialiased;
// 	// width: 100%;
// 	padding-top: 50px;
// 	background-attachment: fixed;
// 	background-position: 50% 50%;
// 	&.landing {
// 		@include background-image ("../img/landing-header.jpg")
// 	}
// 	&.commercial {
// 		@include background-image ("../img/landing-header.jpg")
// 	}
// 	&.residential {
// 		@include background-image ("../img/residential-header.jpg")
// 	}
// 	&.photography {
// 		@include background-image ("../img/photographers-header.jpg")
// 	}
// 	@include breakpoint (479px) {
// 		&.landing {
// 			padding-top: 0;
// 			@include background-image-phone ("../img/landing-header-phone.jpg")
// 		}
// 		}
// }

.nav>li>a:hover {
	background: $lightGray;
}
.navbar {
	background-color: rgba(255,255,255,0.95);
	border-radius:0;
	color: #000;
	border-bottom:1px solid #ccc; 

	@include breakpoint (479px) {
		margin-bottom: 0;
	}

	.navbar-brand {
		&:hover {
			color: $blue;
		}
	}

	.logo {
		padding-top: 12px;
		padding-bottom: 10px;
		padding-left: 0;
		padding-right: 35px;
		margin-left: 0;
		font-size: 1.75em;
		&:hover {
			color: $darkGray;
		}
			@include breakpoint (992px) {
			padding-top: 15px;
		}

	@include breakpoint (992px)	{
		a {
		font-size: 1em;
	}
	}
	@include breakpoint (768px) {
		margin-left: 20px;
		float: left;
	}
	@include breakpoint (479px) {
		margin-bottom: 0;
		float: left;
	}
	}



	a {
    	color: $darkGray;
    	.active {
    		color: $blue;
    	} 
    	font-weight: 500;
	}

	.btn {
		letter-spacing: 0.05em;
		text-transform: none;
		color: $white;
		font-weight: 500;
		}
	    .btn > .caret,
 	    .dropup > .btn > .caret  {
		border-top-color: $darkGray;
		border-bottom-color: $darkGray;
		&:hover {
			color: $blue;
		}
	}


	.navbar-right {
		li {
		&:first-child {
			&:hover {
				background: none;
			}
		}
		}
	}

	.navbar-btn {
		margin-right: 20px;
		margin: 8px;

	}

	li {
		height: 100%;
		&:hover {
			background: $lightGray !important;
		}
		button {
			a {
				&:hover {
					color: $white;
				}
				font-weight: 500;
				color: $white;
				padding: 10px;
			}
		}
		a {
			font-size: .95em;
			font-weight: 700;
			letter-spacing: 0.05em;
			color: $darkGray;
			vertical-align: middle;
			&:hover {
				color: $blue;
			}
			&.active {
				color: $blue;
			}
		}
	}

	.dropdown-menu {
		padding: 0;
		li a {
		margin-top: 0px;
		}
	}

	.dropdown-menu > li > a:hover,
	.dropdown-menu > li > a:focus {
		background-color: $lightGray;
	  	background-image: none;
	}

	.dropdown-menu > .active > a,
	.dropdown-menu > .active > a:hover,
	.dropdown-menu > .active > a:focus {
		background-color: $lightGray;
	    background-image: none;
	}

	#navItems {
	    	padding-top: 10px;
	    	letter-spacing: .1em;
	    }

	.navbar-toggle {
		color: $darkGray;
	    // margin-top: 17px;
	    border: 0px solid #303b3f;
	    .icon-bar {
	    	background-color: #424242;
	    }
	}

}

.navbar-fixed-top {
	@include breakpoint (479px) {
		position: relative;
	}
}

.navbar-nav {
	li {
		a {
			line-height: 25px;
		}
	}
	@include breakpoint (768px) {
		margin: 0 -15px;
	}
}

.nav {
	.caret {
		color: #000;
		border-top-color: #000;
		border-bottom-color: #000;
	}
	.active {
		color: $blue;
	}
	li {
		.dropdown-menu{
			li {
				a {
					padding: 10px;
				}
			}
		}
		a {
		&:hover {
			.caret {
		    border-top-color: $blue;
		    border-bottom-color: $blue;
			}
			}	
		}

	}
	#navGetStarted {
		@include breakpoint (768px) {
			display: none;
		}
		@include breakpoint (479px) {
			display: none;
		}
	}	
}

header {

	 //  &.hero-features {
	 //  	@include background ("../img/tools-header.jpg");
	 //  	@include breakpoint (768px) {
		// @include background ("../img/tools-header-phone.jpg");
		// @include image-2x ("../img/tools-header-phone.jpg");
		
  // 		}
		// @include breakpoint (479px) {
		// background-postion: center;
		// @include background ("../img/tools-header-phone.jpg");
		// @include image-2x ("../img/tools-header-phone.jpg");
	 //  	}
	 //  }
	  &.hero-commercial {
	  	@include background ("../img/landing-header@2x.jpg");
	    @include breakpoint (768px) {
			@include background ("../img/landing-header-phone.jpg");
	  		@include image-2x ("../img/landing-header-phone.jpg");
  		}
    	@include breakpoint (479px) {
			@include background ("../img/landing-header-phone.jpg");
			@include image-2x ("../img/landing-header-phone.jpg");
	  	}
	  }
	  &.hero-residential {
	  	@include background ("../img/residential-header@2x.jpg");
	  	@include breakpoint (768px) {
			@include background ("../img/residential-header-phone.jpg");
			@include image-2x ("../img/residential-header-phone.jpg");
	  	}
     	@include breakpoint (479px) {
     	background-position: 50%;
  			@include background ("../img/residential-header-phone.jpg");
  			@include image-2x ("../img/residential-header-phone.jpg");
	  	}
	  }
	  &.hero-photographers {
	  	@include background-center ("../img/photographers-header@2x.jpg");
  		@include breakpoint (768px) {
  			@include background-center ("../img/photographers-header-phone.jpg");
  			@include image-2x ("../img/photographers-header-phone.jpg");
	  	}
    	@include breakpoint (479px) {
  			@include background ("../img/photographers-header-phone.jpg");
  			@include image-2x ("../img/photographers-header-phone.jpg");
	  	}
	  }

	  &.hero-pricing {
	  	@include background ("../img/pricing-header.jpg");
  		@include breakpoint (768px) {
  			@include background ("../img/pricing-header-phone.jpg");
  			@include image-2x ("../img/pricing-header-phone.jpg");
	  	}
    	@include breakpoint (479px) {
  			@include background ("../img/pricing-header-phone.jpg");
  			@include image-2x ("../img/pricing-header-phone.jpg");
	  	}
	  }

	padding: 310px 0 275px;
	font-weight:300;
	text-align: center;
	color: $white;

    h1 {
   	font-size: 32px;
    font-style: italic;
    padding-top: 0;

    	span {
    		&:first-child {
    		opacity: .9;
	    	}
	    }
    
    	.huge {

			font-size: 2.7em;
			font-style: normal;
			font-weight: 700;
    	}
    }

    ul {
    	padding:0;
	}

    li {
		letter-spacing: .1em;
		font-size: 1.15em;
		font-weight: 500;
		display: inline-block;
	    }

    a {
    	// color: white;
		font-weight: 300;
		@include text-shadow(rgba(0, 0, 0, 0.15)0 1px 1px);
		&:hover {
			color: $white;
		}
	}

    h4 {
    	line-height: 1.5em;
    	@include text-shadow (rgba(0, 0, 0, 1)0 1px 1px);
    	font-size: 1em;
    	font-weight: 500;
    }

    .whiteHallow {
    	background-color: rgba(black,.4);
    	border: 2px solid rgba(black, 0.0);

    	&:hover {
    		background-color: rgba(black,.5);

    	}
    }

    button {
    	width: 200px;
    	&:first-of-type {
    		margin: 0 .5em 0 0;
    	}
    }
	@include breakpoint (1201px) {
		h1 {
			font-size: 2.9em;
		}
	}
    @include breakpoint(1200px) {
    	h1 {
    		.huge {
    		font-size: 2.6em;
    	}
    }
    padding: 220px 0 175px 0;
	}

    @include breakpoint(768px) {
    padding: 140px 0 60px 0;
    h1 {
	    font-weight:300;
	    font-size: 2.3em;
	    padding-top: 0;
	    margin-top: 0;
	    .huge {
 		   font-size: 2.7em;
		}
    }
    h4 {
	    margin: 10px 0;
	}
	}

	@include breakpoint(479px) {
	 padding: 70px 0 50px 0;
	    h1 {
		    font-weight:300;
		    font-size: 1.5em;
		    padding-top: 0;
		    margin-top: 0;
		    .huge {
	 		   font-size: 2.2em;
			}
			span {
				opacity: .9;
			}
	    }
	    button{
	    	&:last-of-type {
	    		margin-top: 10px;
	    	}
	    }
	    h4 {
		    margin: 10px 0;
		    font-size: .8em;
		}
		#header-background {
		position: fixed;
		background: url("../img/bg/bg_md.jpg");
	}
}
}


.innerNav {
	background: #fff;
	text-align: center;
	padding: 40px 0 40px 0;
	position: relative;

	li {
		margin: 0 5%;
		list-style-type: none;
		text-decoration: none;
		display: inline-block;

	}

	.row {
		margin: 0 auto;
	}

	a {
		margin: 0 4%;
		color: $Gray;
		text-transform: uppercase;
		letter-spacing: .05em;
		font-size: .9em;
		@include trans(.25s ease-in-out);
		&:hover {
			color: $darkGray;
		}
	}

	.active {
		color: $darkGray;
	}

	span {
		margin: 5px auto 5px;
	    font-size: 35px;
	    display: inline-block;
	    letter-spacing: .05em;
	    text-align: center;
	}

	@include breakpoint(768px) {
		.row, ul {
			padding: 0;
			margin: 0;
		}
		li {
			margin: 0 2%;
		}
	}

	@include breakpoint (480px) {
		&.lower {
			display: none;
		}
	}
	@include breakpoint(479px) {
		background: $backgroundBlue;
		border-top: 1px solid $borderGray;
		padding: 0;
		margin: 0;
		.row, ul {
		padding: 0;
		margin: 0;
		}
		&.upper {
			display: none;
		}
		.active {
			font-weight: 700;
			padding-bottom: 5px;
			border-bottom: 1px dotted $darkGray;
		}
		.container {
			margin: 0;
			padding:0
		}
		li {
			margin: 0 1%;
			padding: 20px 0 45px;	
			a {
				font-size: .65em;
				line-height: 10px;
				height: 10px;
				color: $darkGray;
			}
		}
		span {
			font-size: 0;
			display: none;
		}
	}
}





.sprite-bookmark {
	@include sprite ("../img/Bookmark.png");
	@include image-2x ("../img/Bookmark@2x.png");
}

.sprite-calendar {
	@include sprite ("../img/Calendar.png");
	@include image-2x ("../img/Calendar@2x.png");
}

.sprite-camera {
	@include sprite ("../img/Camera.png");
	@include image-2x ("../img/Camera@2x.png");
}

.sprite-chart {
	@include sprite ("../img/Chart.png");
	@include image-2x ("../img/Chart@2x.png");
}

.sprite-cloud {
	@include sprite ("../img/Cloud.png");
	@include image-2x ("../img/Cloud@2x.png");
}

.sprite-comment {
	@include sprite ("../img/Comment.png");
	@include image-2x ("../img/Comment@2x.png");
}

.sprite-compass {
	@include sprite ("../img/Compass.png");
	@include image-2x ("../img/Compass@2x.png");
}

.sprite-dashboard {
	@include sprite ("../img/Dashboard.png");
	@include image-2x ("../img/Dashboard@2x.png");
}

.sprite-document {
	@include sprite ("../img/Document.png");
	@include image-2x ("../img/Document@2x.png");
}

.sprite-download {
	@include sprite ("../img/Download.png");
	@include image-2x ("../img/Download@2x.png");
}

.sprite-database {
	@include sprite ("../img/Database.png");
	@include image-2x ("../img/Database@2x.png");
}

.sprite-folder {
	@include sprite ("../img/Folder.png");
	@include image-2x ("../img/Folder@2x.png");
}

.sprite-gift {
	@include sprite ("../img/Gift.png");
	@include image-2x ("../img/Gift@2x.png");
}

.sprite-home {
	@include sprite ("../img/Home.png");
	@include image-2x ("../img/Home@2x.png");
}

.sprite-lock {
	@include sprite ("../img/Lock.png");
	@include image-2x ("../img/Lock@2x.png");
}

.sprite-mail {
	@include sprite ("../img/Mail3.png");
	@include image-2x ("../img/Mail3@2x.png");
}

.sprite-map {
	@include sprite ("../img/Map.png");
	@include image-2x ("../img/Map@2x.png");
}

.sprite-music {
	@include sprite ("../img/Music.png");
	@include image-2x ("../img/Music@2x.png");
}

.sprite-picture {
	@include sprite ("../img/Picture.png");
	@include image-2x ("../img/Picture@2x.png");
}

.sprite-printer {
	@include sprite ("../img/Printer.png");
	@include image-2x ("../img/Printer@2x.png");
}

.sprite-search {
	@include sprite ("../img/Search.png");
	@include image-2x ("../img/Search@2x.png");
}

.sprite-settings {
	@include sprite ("../img/Settings.png");
	@include image-2x ("../img/Settings@2x.png");
}

.sprite-shopping {
	@include sprite ("../img/Shopping.png");
	@include image-2x ("../img/Shopping@2x.png");
}

.sprite-t-shirt {
	@include sprite ("../img/T-shirt.png");
	@include image-2x ("../img/T-shirt@2x.png");
}

.sprite-tag {
	@include sprite ("../img/Tag.png");
	@include image-2x ("../img/Tag@2x.png");
}

.sprite-thumb_up {
	@include sprite ("../img/Thumb_up.png");
	@include image-2x ("../img/Thumb_up@2x.png");
}

.sprite-tools {
	@include sprite ("../img/Tools.png");
	@include image-2x ("../img/Tools@2x.png");
}

.sprite-trophy {
	@include sprite ("../img/Trophy.png");
	@include image-2x ("../img/Trophy@2x.png");
}

.sprite-user {
	@include sprite ("../img/User.png");
	@include image-2x ("../img/User@2x.png");
}


// #goodCompany {
// 	text-align: center;

// 	@include background ("../img/good_company.jpg");

//     .row {
//     	padding: 200px 0;
//     }

//     h2 {
// 	   	font-size: 20px;
// 	    text-transform: uppercase;
// 	    padding: 20px 0;
// 	    position: relative;
// 	    color: #424242;
// 	    background: rgba(255,255,255,.5);
// 	    margin-top: 0;
//     	margin-bottom: 20px;
//     }

//     .col-lg-3 {
// 		padding: 20px 0;
// 		margin: 0 auto;
// 		background: rgba(255,255,255,.5);
// 		border-right: 1px solid rgba(0,0,0,.5);
// 		border-left: 1px solid rgba(255,255,255,.3);
//     }

//     .col-lg-3:last-of-type {
//     	border-right: none;
// 	}

// 	.col-lg-3:first-of-type {
//     	border-left: none;
// 	}

// 	.col-lg-3:hover {
// 	    background: rgba(255,255,255,.8);
// 	    pointer: cursor;
// 	}

// 	@include breakpoint (768px) {
// 		.row {
// 			padding: 100px;
// 		}
// 	}
// 	@include breakpoint (479px) {
// 		.row {
// 			padding: 100px;
// 		}
// 	}

// }

.btn-primary {
	background-color: $blue;
	border-color: #2d87a6;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #3092b3;
  border-color: #285e8e;
}

.hero-pricing {
	color: $darkGray;
	h1 {
		color: $white;
		opacity: .8;
		padding-bottom: 30px;
	}
	h3 {
		margin: 20px 0;
	}
	padding: 200px 0 145px;
	.pricing-box {
		background: #fff;
		h2 {
			padding: 30px 0;
			margin-bottom: 0;
			margin-top: 0;
		}
		@include border-radius (5px);
			h4 {
			text-shadow: none;
			margin-top: 0;
		}
		@include breakpoint (768px) {
			width: 80%;
			margin: 0 auto;
		}
		@include breakpoint (479px) {
			width: 90%;
		}

		.pricing-box-prices {
			text-align: left;
			padding-left: 2.2%;
			border-top: 1px solid $borderGray;
			border-right: 1px solid $borderGray;
			border-bottom: 1px solid $borderGray;
			p {
				margin: 3px;
			}
			.pricing-box-prices-text {
				margin: 20px 0;
			}
			.introBlue {
				font-size: 40px;
				color: $blue;
				margin-bottom: 20px;
			}
			.smallBlue {
				font-size: 18px;
				color: $blue;
			}
			.exitGray {
				font-size: 18px;
			}
			&.first, &.third {
				background: #fafafa;
			}
			&.second, &.fourth {
				background: #f5f5f5;
			}
							@include breakpoint (992px) {
			text-align: center;
			}
				@include breakpoint (768px) {
			text-align: center;
			}
			@include breakpoint (479px) {
					text-align: center;
			}
		}
		}
		.pricing-box-upsell {
			padding: 30px;

		}

}

.archiving {
	h3 {
		line-height: 1.6;
	}
	text-align: center;
	padding: 20px 0;
}

#FAQ {
	background: $lightGray;
	padding: 20px 0;
	h3 {
		padding-bottom: 20px 0;
	}
}

.hero-landing {
		padding: 120px 0;
		text-align: left;
		border-bottom: 1px solid #cccccc;
		img {
			float: right;
		}
		&.whiteHallow {
			background-color: rgba(0,0,0,.2);
			
		}
		&.btnHallow {
			border: 1px solid rgba(255,255,255,.3);
		}
		.hero-features-img {
			max-width: 100%;
		}
		h1 {	
			color: $darkGray;
			font-style: normal;
			margin-top: 300px;
		}
		h4 {
			color: $darkGray;
			text-shadow: none;
		}
		.image {
			background-size: 100%;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			vertical-align: middle;
			display: inline;
			width: 100%;

		}
			background: #faf7f7; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  #faf7f7 0%, #e8e8e8 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faf7f7), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #faf7f7 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #faf7f7 0%,#e8e8e8 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #faf7f7 0%,#e8e8e8 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #faf7f7 0%,#e8e8e8 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf7f7', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-8 */

		@include breakpoint (1200px) {
		padding: 80px 0 100px;
		h1 {
			font-size: 36px;
			margin-top: 250px;
		}
		button {
				width: 155px;
		}
	}
	@include breakpoint (992px) {

		padding: 60px 0 80px;
		img {
			margin-top: 30px;
		}
		h1 {
			margin-top: 180px;
			font-size: 26px;
		}
		button {
			width: 130px;
		}
		.btnSolid, .btnHallow {
			padding: .85em 1.25em;
		}
		.btnHallow {}
		a {
			font-size: .85em;
		}
	}
	@include breakpoint (768px) {
		padding: 30px 0;
		text-align: center;
		margin: auto;
		h1 {
			margin-top: 100px;
		}
		h4 {
			font-weight: 300;
		}
		img {
			display: none;
		}
		.image {
			.perspective-iphone {
			background-size: 75%;
			background-position: center center;
			height: auto;
			margin-top: -30px;
		}
		}
	}
	@include breakpoint (480px) {
			.perspective-iphone {
				margin-top: 30px;
				background: url("../img/perspective_iphone.png") no-repeat;
				display: block;
				padding-top: 94%;
				height: 0;
				background-size: cover;
		}
	}
	@include breakpoint (479px) {
		text-align: center;
		padding: 0 0 30px;
		margin: auto;
		h1 {
			margin-top: 50px;
			font-size: 1.8em;
		}
		.image {
			.perspective-iphone {

				display: none;
			}
		}
		a {
		font-size: 11px;
		}
	}

}

.hero-residential, .hero-photographers {
	.whiteHallow {
		background: rgba(0,0,0,.55);
	}
	h1 {
		text-shadow: 0 2px 2px rgba(0,0,0,.3);
	}
}

.hero-commercial {
	.whiteHallow {
		background: rgba(0,0,0,.6);
	}
	h1 {
		text-shadow: 0 2px 2px rgba(0,0,0,.3);
	}
}

.features-page-wrapper {
	padding: 30px 0 100px;
	@include breakpoint (992px) {
		padding: 70px 0 50px;
	}
	@include breakpoint (479px) {
		padding: 10px 0 0;
	}
}

.features-section {
	h2 {
		margin-top: 0;
	}
	position: relative;
	@include breakpoint (992px) {
		h2 {
			margin-top: 40px;
		}
		text-align: center;
		margin: 0 auto;
		button {
			margin: 20px 0 40px;
		}
	}
	@include breakpoint (479px) {
		.features {
			display: none;
		}
		margin-top: 40px;
	}


	.col-lg-4 {
		padding-left: 15px;
	}

	&.features-page {

		a {
			color: $blue;
		}

		.content-phone {
			width: 100%;
		}
		margin-top: 100px;
		&.browser {
			h2 {
				margin-bottom: 20px;
			}
		}
		&.iPhone {
			h2 {
			margin-top: 50px;
			}
		}
		&.iPad {
			h2 {
				margin-top: 80px;
			}
		}
		h3 {
			margin: 0 auto 15px;

		}
		p {
			margin: 0 0 30px;
			&:first-child {
				margin: 10px 0 30px;
			}
			// border-bottom: 1px solid #ededed;
		}
		li {
			h4 {
			&:first-of-type {
				margin-top: 30px;
			}
		}
		}
		img {
			border: 2px solid $featureGray;
		}
		a {
		z-index: 10;
		}

		button {
			border: 1px solid;
			margin-top: 10px;
			@include breakpoint (992px) {
				text-align: center;
				margin: 0 auto;
			}
		}


		@include breakpoint (1200px) {
			&.iPhone {
				h2 {
					margin-top: 30px;
				}
			}
			&.iPad {
				h2 {
					margin-top: 50px;
				}
			}
		}

		@include breakpoint (992px) {
			h2 {
			margin-top: 40px;
			margin-bottom: 20px;
			}
			margin-top: 0;
			width: 85%;
			padding: 20px 0;
			.content-phone {
				width: 70%;
			}
			.col-lg-4 {
				padding-left: 15px;
			}
			&.browser {
				h2 {
					margin-top: 50px;
				}
			}
			&.iPad {
			h2 {
				margin-top: 0;
			}
			}
		}

		@include breakpoint (768px) {
			.content-phone {
				width: 40%;
			}
			.content-ipad {
				width: 80%;
			}
			text-align: center;
			h2 {
				margin-top: 30px;
			}
			p {
				margin-bottom: 15px;
				color: $midGray;
			}
			img {
				border: 1px solid $featureGray;
			}
			a {
				font-size: 12px;
			}
	
		}
		@include breakpoint (479px) {
			text-align: center;
			padding: 15px 0;
			&.browser {
				h2 {
					margin-top: 30px;
				}
				a {
					color: $darkGray;
					cursor: default;
				}
			}
			&.iPhone {
			}
			&.iPad {
			h2 {
				margin-top: 0;
			}
			}
			a {
				font-size: 11px;
			}	
		}
	}

}

.hero-features {

	background: #faf7f7; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #faf7f7 0%, #e8e8e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faf7f7), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #faf7f7 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #faf7f7 0%,#e8e8e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #faf7f7 0%,#e8e8e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #faf7f7 0%,#e8e8e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf7f7', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-8 */

	border-bottom: 1px solid #cccccc;
	padding-top: 170px;
	padding-bottom: 120px;
	color: $white;
	text-shadow: 0 3px 5px rgba(0,0,0,.3);

	h1 {
	position: absolute;
	left: 0;
	right: 0;
	top: 30%;
	bottom: 50%;
	margin-left: auto;
	margin-right: auto;
	}

	@include breakpoint (992px) {
		padding-top: 140px;
		padding-bottom: 90px;
	}

	@include breakpoint (768px) {
		padding-top: 130px;
		padding-bottom: 60px;
		h2 {
			margin-top: 20px;
		}
	}
	@include breakpoint (479) {
		padding: 75px 0 25px 0;
		h2 {
			margin-top: 20px;
		}
	}
}

.macbook-wrapper {
	margin: 0 auto;
	text-align: center;
	position: relative;
	width: 85%;
	z-index: 10;
	@include breakpoint (992px) {
		width: 100%;
	}

	.macbook-content {
		margin: 0 auto;
		width: 100%;
		overflow: hidden;
		height: auto;
		position: relative;
		img {
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: auto;
		}

		.macbook-bezel {
			margin: 0 auto;
			background: #1f2325;
			border: 25px solid #1f2325;
			border-radius: 25px 25px 0 0;
			width: 85%;
			padding-top: 45%;
			@include breakpoint (992px) {
				border: 15px solid #1f2325;
				border-radius: 15px 15px 0 0;
			}
			@include breakpoint (768px) {
				border: 15px solid #1f2325;
				border-radius: 15px 15px 0 0;
			}
			@include breakpoint (479px) {
				border: 10px solid #1f2325;
				border-radius: 10px 10px 0 0;
			}
		}
		.macbook-frame-top {
			margin: 0 auto;
			background-color: #e0e4eb;
			width: 100%;
			height: 25px;
			@include breakpoint (992px) {
				height: 15px;
			}
			@include breakpoint (768px) {
				height: 15px;
			}
			@include breakpoint (479px) {
				height: 10px;
			}
		}
		.macbook-frame-bottom {
			margin: 0 auto;
		    border-top: 15px solid #899196;
		    border-left: 50px solid transparent;
		    border-right: 50px solid transparent;
		    height: 0;
		    width: 100%;
			@include breakpoint (992px) {
				border-top: 8px solid #899196;
			}
			@include breakpoint (768px) {
				border-top: 8px solid #899196;
			    border-left: 30px solid transparent;
			    border-right: 30px solid transparent;
			}
			@include breakpoint (479px) {
				border-top: 5px solid #899196;
				border-left: 20px solid transparent;
			    border-right: 20px solid transparent;
			}
		}
	}
	.macbook-screen-content {

		position: absolute;
		padding: 2.2% 9.6% 5% 9.65%;
		margin: 0 auto;
		.macbook-screen-content-text {
			position: relative;
			text-align: center;
			margin: 0 auto;
		}
		@include breakpoint (1200px) {
			padding: 2.7% 9.5% 4% 9.5%;
		}
		@include breakpoint (992px) {
			padding: 1.9% 9.5% 4% 9.5%;
			h1 {
				font-size: 2.4em;
			}
		}
		@include breakpoint(768px) {
			padding: 2% 9.5% 4% 9.5%;
			h1 {
				font-size: 2em;
			}
		}
		@include breakpoint(479px) {
			padding: 3.7% 10%; 
			top: 1%;
			h1 {
				font-size: 1.3em;
			}
		}
		img {
			width: 100%;
		}

	}
}

	
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: $darkGray;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  opacity: 1.0;
  // filter: alpha(opacity=50);
}

.carousel-control.left {
  background-image: -webkit-gradient(linear, 0 top, 100% top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.0001)));
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0), color-stop(rgba(0, 0, 0, 0.0001) 100%));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-gradient(linear, 0 top, 100% top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.0001)));
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0), color-stop(rgba(0, 0, 0, 0.0001) 100%));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-indicators {
  position: absolute;
  bottom: -10%;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
  @include breakpoint (479px) {
  	bottom: -17%;
  }

}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 10px;
  @include breakpoint (479px) {
  	width: 7px;
  	height: 7px;
  }
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: $blue;
   @include breakpoint (479px) {
  	width: 9px;
  	height: 9px;
  }
}

.feature-content-container {
	display: block;
	
	&.landing {
		width: 90%;
	}
	@include breakpoint (768px) {
		margin-bottom: 30px;
	}
	@include breakpoint (479px) {
		margin-bottom: 30px;
	}
}

.browser-wrapper {
	position: relative;
	z-index: 9;

.content-browser {
	width: 100%;
	overflow: hidden;
	height: auto;
	position: relative;

	.browser-bar {
		border-radius: 4px 4px 0 0;
		height: 21px;
		font-size: 1px;
		background-color: $featureGray;
		line-height: 26px;
		text-align: left;

		.browser-button {
			height: 8px;
			width: 8px;
			display: inline-block;
			@include border-radius (50%);
			background-color: $lightGray;
			margin-top: 8px;
			margin-left: 6px;
			background-repeat: none;
			&:first-child {
				margin-left: 8px;
			}
		}
	}
	.browser-window {
		height: auto;
		padding: 5%;
		width: 100%;
		&.landing {
			@include box-shadow (-1px 0 0 1px $featureGray inset, 1px 0 0 1px $featureGray inset, 0 -1px 0 1px $featureGray inset);
		}
		&.features {
			@include box-shadow (-1px 0 0 1px $featureGray inset, 1px 0 0 1px $featureGray inset, 0 -1px 0 1px $featureGray inset);
		}
		.browser-content {
			border: 2px solid $featureGray;
			img {
				width: 100%;
			}
			ul, ol {
				margin-bottom: 8px;
				}
		}
		@include breakpoint (768px) {
			&.landing {
				@include box-shadow (-1px 0 0 1px $featureGray inset, 1px 0 0 1px $featureGray inset, 0 -1px 0 1px $featureGray inset);
			}
			&.features {
				@include box-shadow (-1px 0 0 1px $featureGray inset, 1px 0 0 1px $featureGray inset, 0 -1px 0 1px $featureGray inset);
			}
		}
		@include breakpoint (479px) {
			&.landing {
				@include box-shadow (-1px 0 0 0px $featureGray inset, 1px 0 0 0px $featureGray inset, 0 -1px 0 0px $featureGray inset);
			}
			&.features {
				@include box-shadow (-1px 0 0 0px $featureGray inset, 1px 0 0 0px $featureGray inset, 0 -1px 0 0px $featureGray inset);
			}
		}

	}
}
}

	
		
	
.phone-wrapper {
position: absolute;
z-index: 10;
left: 73%;
bottom: 0%;
min-width: 100px;
@include breakpoint (479px) {
	left: 65%;
}
}

.content-phone {
width: 90%;
overflow: hidden;
height: auto;
position: relative;
text-align: center;
padding-left: 3%;
padding-right: 3%;

	.iphone-power-button {
		height: 3px;
		width: 15%;
		border-radius: 5px 5px 0 0;
		background-color: $featureGray;
		margin-left: 70%;
	}
	.iphone-camera {
		height: auto;
		padding-top: 4%;
		width: 4%;
		background-color: $phoneGray;
		border-radius: 50%;
		position: absolute;
		top: 5.5%;
		left: 50%;
	}
	.iphone-speaker {
		height: auto;
		padding-top: 4%;
		width: 16%;
		background-color: $phoneGray;
		border-radius: 5px;
		position: absolute;
		top: 9%;
		left: 43.5%;
	}
	.iphone-silent {
		height: auto;
		padding-top: 9%;
		width: 2%;
		background-color: $featureGray;
		border-radius: 2px 0 0 2px;
		position: absolute;
		top: 15%;
		left: 2%;
		@include breakpoint (768px) {
			left: 6%;
			width: 2%
		}
		@include breakpoint (479px) {
			left: 6%;
			width: 2%;
		}
	}

	.iphone-volume {
		height: auto;
		padding-top: 6%;
		width: 1%;
		background-color: $featureGray;
		border-radius: 2px 0 0 2px;
		position: absolute;
		left: 3%;
		&.one {
			top: 23.5%;
		}
		&.two {
			top: 32%
		}
		@include breakpoint (768px) {
			left: 7%;
			width: 1%;
		}
		@include breakpoint (479px) {
			left: 7%;
			width: 1%;
		}
	}
	.iphone-home {
		height: auto;
		padding-top: 16.5%;
		width: 16.5%;
		background-color: $phoneGray;
		border-radius: 50%;
		position: absolute;
		top: 89%;
		left: 45%;
	}
	.iphone-home-square {
		height: auto;
		padding-top: 6%;
		width: 7%;
		background-color: $phoneGray;
		z-index: 10;
		border: 2px solid #d9d9d9;
		border-radius: 30%;
		position: absolute;
		top: 91%;
		left: 49.6%;
		@include breakpoint (479px) {
			border: 1px solid #d9d9d9;
		}
	}
	.iphone-external {
		border-radius: 25px;
		border: 2px solid $featureGray;
		background-color: #fff;
		padding: 10%;
		width: 100%;
		height: auto;
		margin: auto;
		padding: 30% 0;
		@include breakpoint (768px) {
			border: 2px solid $featureGray;
			border-radius: 20px;
		}
		@include breakpoint (479px) {
			border: 1px solid $featureGray;
			border-radius: 10px;
		}


		.iphone-internal {
			border: 2px solid $featureGray;
			height: 70%;
			width: 87%;
			margin: auto;

			.phone-content {
			img {
				width: 100%;



			}
		}

		}

	}

	@include breakpoint (768px) {
		width: 90%;
		margin: 0 auto;
	}

	@include breakpoint (479px) {
		width: 80%;
		margin: 0 auto;
	}

}

		
.ipad-wrapper {
	position: absolute;
	z-index: 10;
	left: 76%;
	bottom: 0%;
	min-width: 50px;
}

.content-ipad {
	width: 100%;
	overflow: hidden;
	height: auto;
	position: relative;
	text-align: center;


		.ipad-camera {
			height: auto;
			padding-top: 1.5%;
			width: 1.5%;
			background-color: $phoneGray;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 4%;
		}

		.ipad-home {
			height: auto;
			padding-top: 4.3%;
			width: 4.3%;
			background-color: $phoneGray;
			border-radius: 50%;
			position: absolute;
			top: 48%;
			left: 93%;
		}
		.ipad-home-square {
			height: auto;
			padding-top: 1.7%;
			width: 2.3%;
			background-color: $phoneGray;
			z-index: 10;
			border: 2px solid #d9d9d9;
			border-radius: 30%;
			position: absolute;
			top: 49.1%;
			left: 94.1%;
			@include breakpoint (479px) {
				border: 1px solid #d9d9d9;
			}
		}
		.ipad-external {
			border-radius: 25px;
			border: 2px solid $featureGray;
			background-color: #fff;
			padding: 10%;
			width: 100%;
			height: auto;
			margin: auto;
			padding: 8% 0;
			@include breakpoint (768px) {
				border: 2px solid $featureGray;
				border-radius: 20px;
			}
			@include breakpoint (479px) {
				border: 2px solid $featureGray;
				border-radius: 10px;
			}


			.ipad-internal {
				border: 2px solid $featureGray;
				height: 70%;
				width: 82%;
				margin: auto;
		
				.ipad-content {
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				width: 100%;
				img {
					width: 100%;
				}
				}
			}

			}

	@include breakpoint(992px) { 
			h2 {
				margin: 30px 0 20px;
			}
			button {
				margin-bottom: 40px;
			}
			.row {
				text-align: center;
			}
			.col-lg-4 {
				padding-left: 15px;
			}
		}

	@include breakpoint(768px) { 
		margin: 20px auto;
		max-width: 80%;
		h2 {
			margin: 30px 0 20px;
		}
		button {
			margin-bottom: 40px;
		}
		.row {
			text-align: center;
		}
		.feature-content-container {
			.ipad-wrapper {
			margin-right: 3%;
			left: 73% !important;
		}
	}
		.col-lg-4 {
			padding-left: 15px;
		}
	}

	@include breakpoint(479px) { 
		&.features-page {
			.feature-content-container {
			.content-ipad {
				margin: 20px auto;
				max-width: 50%;
				.ipad-external {
					border-radius: 15px;
				}
			}
		}
		}
		h2 {
			margin: 30px 0 20px;
		}
		button {
			margin-bottom: 40px;
		}
		.row {
			text-align: center;
		}
		.feature-content-container {
			.ipad-wrapper {
			margin-right: 3%;
			left: 73% !important;
		}
	}
	.col-lg-4 {
		padding-left: 15px;
	}
	}
}


.features-upsell {
	padding: 100px 0;
	margin: 0 auto;
	text-align: center;
	background: $lightGray;
	border-top: 1px solid $featureGray;
	z-index: 10;
	button {
		width: 200px;
		margin: 5px;
	}
	@include breakpoint (768px) {
		padding: 35px 0 25px;
		button {
			width: 130px
		}
		a {
			font-size: 11px;
		}
	}
}


.upsell-icons {
	display: block;
	position: relative;
	// margin: 0 auto;
	text-align: left;
	padding: 100px 0;
	h3, p {
		display: inline-block;
		position: relative;
	}
	h3 {
		margin-top: 5px;
	}
	p {
		margin-top: 10px;
		margin-bottom: 50px;
	}

	.sprite {
		margin: 0 auto;
		max-width: 128px;
	}


	@include breakpoint (992px) {
		padding: 0;
		p, h3, {
			margin: 10px auto;
		}
		text-align: center;
		.section2, .section3, .section4 {
			padding-top: 50px;
		}
		.sprite {
			width: 50%;
			padding-top: 20%;
		}
	}
	@include breakpoint (768px) {
		padding: 0;
		p, h3, .sprites {
			margin: 10px auto;
		}
		text-align: center;
		.section2, .section3, .section4 {
			padding-top: 30px;
		}
		.sprite {
			width: 50%;
			padding-top: 30%;
		}
	}
	@include breakpoint (479px) {
		margin-bottom: 10px;
		padding: 0;
		p, h3, .sprites {
			margin: 10px auto;
		}
		text-align: center;
		.section2, .section3, .section4 {
			padding-top: 30px;
		}
		.sprite {
			width: 50%;
			padding-top: 30%;
		}
	}

}

.mask {
	width: 100%;
	padding-top: 50%;
	background-color: rgba(0,0,0,.5);
}

#footer {
    text-align: center;
    background: #424242;
    padding: 30px 0;

    a {
	    margin:0 20px;
	    color: #bcbcbc;
	    @include trans(.25s ease-in-out);
	    &:hover {
	    	color: $blue;
	    }
	}

	p {
		margin: 30px 0 0 0;
	    font-size: .85em;
	    color: #bcbcbc;
	}

	@include breakpoint(768px) { 
		a {
			margin: 0 5px;
		}

	}

	@include breakpoint(479px) { 
		.col-lg-12 {
			margin: 0;
			padding: 0;
		}
		p {
			margin: 15px 0 0 0;
		}
		font-size: .8em;
		a {
			margin: 0 5px;
		}

	}

}


