/*************** @font-face  *****************/
@font-face {
  font-family: 'blenderbold';
  src: url('../fonts/blender-bold/blender-bold-webfont.eot');
  src: url('../fonts/blender-bold/blender-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/blender-bold/blender-bold-webfont.woff') format('woff'),
       url('../fonts/blender-bold/blender-bold-webfont.ttf') format('truetype'),
       url('../fonts/blender-bold/blender-bold-webfont.svg#blenderbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'Chalet-ParisNineteenSixty';
  src:url('../fonts/chalet/Chalet-ParisNineteenSixty.otf');
}

@font-face {
  font-family:'Chalet-LondonNineteenSixty';
  src:url('../fonts/chalet/Chalet-LondonNineteenSixty.otf');
}

/*************** Generic  *****************/

body {
  color:#404040;
  font-family: 'Chalet-ParisNineteenSixty';
  font-size:16px;
}

p {
  margin: 0 0 20px;
  line-height:20px;
}

h1 {
  color:#404040;
  font-family:'blenderbold';
  font-size:42px;
  font-weight:normal;
}

h2 {
  color:#666;
  font-weight: normal;
}

h3 {
  color:#666;
  font-family: 'Chalet-LondonNineteenSixty';
  font-size:28px;
  font-weight:normal;
  line-height: 1.5em;
  margin:0 0 .5em;
}

h4 {
  color:#999;
  font-family: 'Chalet-ParisNineteenSixty';
  font-size:24px;
  font-weight:normal;
  line-height: 1.25em;
  margin:0 0 1em;
}

h5 {
  font-family: 'Chalet-LondonNineteenSixty';
  font-size:18px;
  font-weight:normal;
}

.em {
  font-family: 'Chalet-LondonNineteenSixty';
}

.container {
  margin: 0 auto;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right:auto;
}

.reverse {
  color:#E5E5E5;
  text-shadow: 0px 1px #000;
}

.margin-less-row {
  width: 100%;
}
.margin-less-row .span3 {
  width: 25%;
  margin: 0 0;
}
.highlight {
  color: #FF6600;
}

.header-title {
  margin:60px 0 80px;
}

a.btn {
  width: 110px;
}

/*************** Navigation  *****************/
.navbar {
  background-color: transparent;
  margin-top: 50px;
  font-weight: 700;
  font-size: 16px;
}
.logo {
  margin: 0;
}
.logo a h1{
  background:url('../img/threshold-logo.gif') no-repeat;
  color:#595959;
  display:block;
  font-family: 'blenderbold';
  height:58px;
  margin:0;
  padding:10px 0 0 68px;
}

.logo a {
  text-decoration: none;
}

.navbar-inner {
  background: none;
  background-color: transparent;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  border: none;
}
.navbar .nav {
  padding-top:20px;
  margin-left:160px;
}
.navbar .nav > li > a {
  color: #555;
  margin-right: 50px;
  padding: 0;
}
.navbar .nav > li:last-child > a {
  margin-right: 0;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  border-bottom: 2px solid #FB651D;
  background-color: transparent;
  color: #555;
  padding-bottom:4px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.navbar .btn,
.navbar .btn-group {
  margin-top:10px;
}

#sign-in {
  background:#5ba0d0;
  width:auto;
  padding-top:6px;
}

footer {
  background-color: #0D2F37;
  padding: 30px 0 10px;
}
footer a {
  color: #FFF;
  display: inline-block;
  margin: 0 25px;
}
footer a:last-child {
  margin-right: 0;
}
footer p.copywrite {
  color: #666;
  font-size: 12px;
  margin-top: 20px;
}

footer p.copywrite a {
  color: #666;
  margin:0 10px;
}
/************** Buttons *************/
.btn-large {
  font-family: 'Chalet-LondonNineteenSixty';
  padding-top:14px;
  margin:0 10px;
}
/************** Sprites ***************/
.sprite {
  background-image: url('../img/sprites.png');
}
.sprite.mobile {
  background-position: 0 0;
  height: 62px;
  width: 32px;
}
.sprite.tools {
  background-position: -32px 0;
  height: 62px;
  width: 46px;
}
.sprite.testimonials {
  background-position: -78px 0;
  height: 62px;
  width: 50px;
}
.sprite.gear {
  background-position: 0 -162px;
  height: 36px;
  width: 36px;
}
.sprite.key {
  background-position: -36px -162px;
  height: 36px;
  width: 36px;
}
.sprite.lock {
  background-position: -72px -162px;
  height: 36px;
  width: 36px;
}
.sprite.organize {
  background-position: 0 -62px;
  height: 34px;
  width: 30px;
}
.sprite.collaborate {
  background-position: -31px -62px;
  height: 34px;
  width: 40px;
}
.sprite.standardize {
  background-position: -71px -62px;
  height: 34px;
  width: 25px;
}
.sprite.simplify {
  background-position: -96px -62px;
  height: 34px;
  width: 32px;
}
.sprite.dynamic {
  background-position: 0 -122px;
  height: 28px;
  width: 30px;
}
a:hover .sprite.dynamic,
.current .sprite.dynamic {
  background-position: 0 -95px;
}
.sprite.gallery {
  background-position: -30px -122px;
  height: 30px;
  width: 28px;
}
a:hover .sprite.gallery,
.current .sprite.gallery {
  background-position: -30px -95px
}
.sprite.feed {
  background-position: -58px -122px;
  height: 30px;
  width: 26px;
}
a:hover .sprite.feed,
.current .sprite.feed {
  background-position: -58px -95px
}
.sprite.tagging {
  background-position: -84px -123px;
  height: 28px;
  width: 26px;
}
a:hover .sprite.tagging,
.current .sprite.tagging {
  background-position: -84px -96px
}
.sprite.camera {
  background-position: 0 -198px;
  height: 90px;
  width: 114px;
}
.sprite.web {
  background-position: -181px -363px;
  height: 167px;
  width: 219px;
}
.sprite.ipad {
  background-position: 0 -364px;
  height: 235px;
  width: 181px;
}
.sprite.iphone {
  background-position: -114px -198px;
  height: 129px;
  width: 70px;
}
.sprite.allfree {
  background-position: 0 -667px;
  height: 28px;
  width: 28px;
}
.sprite.available {
  background-position: -28px -667px;
  height: 28px;
  width: 28px;
}
.sprite.customize {
  background-position: -56px -667px;
  height: 28px;
  width: 28px;
}
.sprite.security {
  background-position: -84px -667px;
  height: 28px;
  width: 28px;
}
.sprite.people {
  background-position: -183px -198px;
  height: 150px;
  width: 252px;
}
.sprite.document {
  background-position: 0 -629px;
  height: 40px;
  width: 35px;
}
.sprite.folder {
  background-position: -35px -629px;
  height: 38px;
  width: 35px;
}
.sprite.send {
  background-position: -70px -629px;
  height: 37px;
  width: 35px;
}
.sprite.arrow {
  background-position: 0 -599px;
  height: 30px;
  width: 132px;
}
/************** Home page *************/

section.hero-wires {
  margin: 30px 0 0;
  max-height: 701px;
  padding:80px 0 0;
  background: url('../img/features_header.jpg') center top no-repeat;
  background-size: cover;
  border-bottom:1px solid #4e6361;
}

section.hero-wires .home-devices {
  float:left;
}

section.hero-wires .hero {
  float:right;
  width:320px;
  margin-top:20px;
}

section.hero-wires p.hero-copy  {
  font-family: 'Chalet-LondonNineteenSixty';
  font-size:24px;
  line-height:1.25em;
  margin-bottom:40px;
}
  

section.hero-wires .hero h3 {
  color:#FFF;
  font-size:36px;
}

section.hero-wires .hero .btn-large {
  margin-left:0;
}

section.hero-wires .video-bar {
  background:#70787B;
  border-top:1px solid #263E44;
  padding:20px 0;
}

section.hero-wires .video-bar #toggle-video {
  background:url('../img/play_button.png') no-repeat bottom center;
  color:#FFF;
  display:block;
  font-family: 'Chalet-LondonNineteenSixty';
  text-decoration: none;
  padding-bottom:50px;
}

section#document {
  background:#fafafa;
  border-bottom:1px solid #e5e5e5;
  padding:60px 0;
}

section#document .sprite {
  width:81px;
  height:81px;
  margin-top:40px;
}

section#document .sprite.communicate {
  background:url('../img/sprite_communicate.png');
}
section#document .sprite.mobile {
  background:url('../img/sprite_mobile.png');
}
section#document .sprite.secure {
  background:url('../img/sprite_secure.png');
}
section#document .sprite.end-of-project {
  background:url('../img/sprite_end_of_project.png');
}

section#document h5.communicate {
  color:#7aaebb;
}

section#document h5.mobile {
  color:#81b8a9;
}

section#document h5.secure {
  color:#84c082;
}

section#document h5.end-of-project {
  color:#3cb862;
}

section#home-mobile {
  border-bottom:1px solid #e5e5e5;
  padding:80px 0;
}

section.carousel {
  background: url('../img/linen.png') 0 -69px;
  padding-top:50px;
  margin-bottom:40px;
}

.pagination-wrapper {
  background:#FFF;
}

section.carousel .slides_container div.slide {
  width: 938px;
  display: block;
}
section.carousel hr {
  margin: 0;
  border-color: #EDF6F5;
}
section.carousel .pagination {
  list-style: none;
}
section.carousel .pagination div.sprite {
  float: left;
  margin-right: 15px;
}
section.carousel .pagination p {
  margin: 20px;
}
section.carousel .pagination a {
  display: block;
  text-decoration: none;
  color: #000;
}
section.carousel .pagination a span {
  border-bottom: 2px solid transparent;
  box-shadow: 0 1px #cfdfe5;
  display: block;
  line-height: 30px;
  padding: 5px 0 5px 46px;
}
section.carousel .pagination .current a span,
section.carousel .pagination a:hover span {
  border-bottom: 2px solid #FC6700;
}

section#get-started {
  padding:75px 0;
}

section#get-started a.btn-primary {
  margin-right: 40px;
}

section#get-started .download-link {
  margin-top:20px;
  margin-bottom:0;
}
section#get-started a.btn.small {
  padding-top:6px;
  margin-top:5px;
  width: auto;
}

section.carousel h2 {
  color: #777;
  font-weight: 300;
  padding-top: 80px;
}
section.carousel h2 span {
  font-size: 18px;
}

section.carousel .slides_container {
  width: 938px;
  height:462px;
  display: none;
  margin: 20px auto 0;
}

/*//////////////////////////////////////////////////////////////////////*/

section.easy-steps .row {
  margin-left:18;
}

section.easy-steps .step-wrapper {
  border:1px solid #E6E6E6;
  border-top:none;
  padding:20px 0;
}

section.easy-steps h2 {
  color:#FF6600;
  font-weight:normal;
  padding:20px 0;
}

section.easy-steps h4 {
  font-weight:normal;
}

section.easy-steps h4 .step {
  color:#FF6600;
}

#step-1 {
  background:url('../img/transfer.png') no-repeat 480px center;
  padding:50px 0;
}

#step-2 {
  background:url('../img/dynamic.png') no-repeat;
  height:300px;
  padding:60px 0 0 0;
}

#step-3 {
  background:url('../img/hero.png') no-repeat 390px 40px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  height:269px;
  padding:70px 0;
}

/*//////////////////////////////////////////////////////////////////////*/

section.upsell-boxes {
  padding: 20px 0;
  color: #888;
  position: relative;
}
section.upsell-boxes .span5 {
  position: relative;
  margin: 0;
}
section.upsell-boxes .upsell-left {
  margin-left:20px;
}
section.upsell-boxes .vertical-divider,
section#mobile-details .vertical-divider{
  height: 250px;
  width: 1px;
  position: absolute;
  margin-top: 20px;
  right: 0;
  background-color: #EEE;
}
section#mobile-details .vertical-divider {
  right:auto;
  left:380px;
}
section.upsell-boxes .row {
  margin-left: 10px;
  padding: 15px 0;
}
section.upsell-boxes h4 {
  margin-top: 0;
  font-weight: 400;
}
section.upsell-boxes hr {
  clear: both;
  border-bottom: none;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
section#document-everything {
  height: 532px;
  background: #343434 url('../img/features_mobile.jpg') -200px 0 no-repeat;
}
section#document-everything .gradient {
  height: 532px;
  color: #FFF;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM0MzQzNCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEzJSIgc3RvcC1jb2xvcj0iIzM0MzQzNCIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMzQzNDM0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM0MzQzNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(left,  rgba(52,52,52,0) 0%, rgba(52,52,52,0.7) 13%, rgba(52,52,52,1) 50%, rgba(52,52,52,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(52,52,52,0)), color-stop(13%,rgba(52,52,52,0.7)), color-stop(50%,rgba(52,52,52,1)), color-stop(100%,rgba(52,52,52,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(52,52,52,0) 0%,rgba(52,52,52,0.7) 13%,rgba(52,52,52,1) 50%,rgba(52,52,52,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(52,52,52,0) 0%,rgba(52,52,52,0.7) 13%,rgba(52,52,52,1) 50%,rgba(52,52,52,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(52,52,52,0) 0%,rgba(52,52,52,0.7) 13%,rgba(52,52,52,1) 50%,rgba(52,52,52,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(52,52,52,0) 0%,rgba(52,52,52,0.7) 13%,rgba(52,52,52,1) 50%,rgba(52,52,52,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00343434', endColorstr='#343434',GradientType=1 ); /* IE6-8 */
eTransform.Microsoft.gradient( startColorstr='#00343434', endColorstr='#343434',GradientType=1 ); /* IE6-8 */

}
section#document-everything .text {
  width: 300px;
  margin: 100px 40%;
}
section#document-everything .text h2 {
  line-height: 1em;
  font-size: 24px;
  font-weight: 400;
}
section#document-everything .text a{
  color: #FFF;
  text-decoration: underline;
}
section#chatter {
  border-top:2px solid #d9d9d9;
  background-color: #EBF0F3;
}
section#chatter .container {
  height: 575px;
  background: url('../img/testimonials/people.png') bottom center no-repeat;
  position: relative;
  color: #FFF;
}
section#chatter .container h2 {
  color: #597781;
  text-align: center;
  font-weight: 300;
  margin-top: 40px;
}
section#chatter .chat_bubble {
  position: absolute;
}
section#chatter .chat_bubble p {
  margin: 20px;
}
section#chatter #chat1 {
  top: 210px;
  left: 0px;
  width: 354px;
  height: 252px;
  background: url('../img/testimonials/bubble_left.png') top left no-repeat;
}
section#chatter #chat2 {
  background: url('../img/testimonials/bubble_middle.png') top left no-repeat;
  top: 120px;
  left: 380px;
  width: 500px;
  height: 290px;
}
section#chatter #chat3 {
  background: url('../img/testimonials/bubble_right.png') top left no-repeat;
  top: 305px;
  left: 680px;
  width: 400px;
  height: 160px;
  z-index: 2;
}

/****************** Mobile Page ****************/ 
.page-mobile {
  font-size:16px;
  line-height: 1.5em;
}
section.hero-mobile {
  background-color:#404040;
  margin:100px 0 160px 0;
  padding: 50px 0 35px;
  position: relative;
  color: #FFF;
  text-align: left;
}

section.hero-mobile h3 {
  color:#FFF;
}

section.hero-mobile h4,
section.hero-mobile h3,
section.hero-mobile p {
  text-align: left;
}

section.hero-mobile .mobile-devices {
  position:absolute;
  float:right;
  top:-60px;
  margin-left:400px;
}

#mobile-grid-view {
  margin-top:40px;
  margin-bottom:40px;
}

#mobile-grid-view img {
  margin-top:30px;
}

.page-mobile .subhead{
  color:#666666;
}

#organize-text {
  margin-top:125px;
}

#mobileCarousel {
  background:url('../img/mobile-grid-background.jpg');
  width:724px;
  height:371px;
  margin:40px auto;
  position:relative;
}

#mobileCarousel .carousel-inner {
  overflow:hidden;
  width:468px;
  height:312px;
  position:absolute;
  top:27px;
  left:130px;
}

section#organize {
  padding-top:40px;
}

section#organize h4 {
  padding: 2px 0 5px 40px;
}

section#organize h4.comments{
  background:url('../img/comments.png') no-repeat;

}

section#organize h4.search{
  background:url('../img/search.png') no-repeat;

}

section#organize h4.background{
  background:url('../img/background.png') no-repeat;

}

#mobile-organize-carousel {
  background:url('../img/mobile-organize-background.png') no-repeat;
  width:523px;
  height:518px;
  margin-bottom:0;
  position:relative;
}

#mobile-organize-carousel .carousel-inner {
  position:absolute;
  top:180px;
  left:43px;
  height:338px;
  width:442px;
}

section#mobile-details {
  background:#F7F7F7;
  margin-top:40px;
  padding:50px 0;
  border-top:2px solid #D1D1D1;
  border-bottom:2px solid #D5D5D5;
}

section#mobile-details img {
  display:block;
  margin:25px auto 0;
}

.seemless-devices {
  margin:20px 0 0 145px;
}

section#mobile-details .device {
  background:url('../img/devices_1.png') no-repeat;
  color:#666;
  float:left;
  text-align:center;
  margin-left:30px;
}

section#mobile-details .camera {
  background-position: 0 -140px;
  width:115px;
  margin-left:0;
  margin-top:140px;
  padding-top:100px;
}

section#mobile-details .web {
  background-position: -144px -65px;
  width:220px;
  margin-top:65px;
  padding-top:177px;
}

section#mobile-details .ipad {
  background-position: -392px 0px;
  width:182px;
  padding-top:245px;
}

section#mobile-details .iphone {
  background-position: -602px -105px;
  width:70px;
  margin-top:105px;
  padding-top:140px;
}

section#mobile-upsell {
  padding:80px 0 20px;
}

section#mobile-upsell .completely-free {
  margin-bottom:18px;
}
section#mobile-upsell .vertical-divider,
section#mobile-details .vertical-divider {
  background-color: #DDDDDD;
}
section#mobile-upsell hr {
  border-color: #DDDDDD;
}
section#share {
  background-color: #bbc6c9;
  padding: 30px 0 0;
}
section#share h2 {
  color: #FFF;
  font-weight: 400;
}
section#share p {
  color: #666666;
  font-size: 18px;
  margin-top: 0;
}
section#how {
  background-color: #F2F2F2;
}
section#how h2 {
  font-weight: 300;
  padding: 30px 0;
}
section#how h2 span {
  font-size: 20px;
}
section#how div.image-container {
  display: inline-block;
  margin-bottom: -70px;
}
section#how div.image-container.arrow {
  margin-left: -132px;
  position: relative;
  top: -50px;
}

section.thirds.light {
  margin-top: 100px;
  margin-bottom: 45px;
  background-color: #FFF;
  color: #4C4C4C;
}
section.thirds.light h4 {
  color: #4C4C4C;
  font-weight: 300;
  margin: 25px 0 10px;
}

.page-mobile #get-started,
.page-home #get-started {
  background:#fafafa;
  border-top:2px solid #CCC;
}

/****************** Pricing page ****************/
div.annual_price {
  display: none;
}
div.tick {
  display: inline-block;
  color: #F0F0F0;
  margin-right: 51px;
  font-size: 10px;
  font-weight: 700;
}
section#pricing small {
  font-size:18px;
  font-weight:normal;
}

section#pricing .plans {
  margin-bottom:20px;
}

section#slider_container .enterprise-header {
  width:260px;
}

section#pricing div.price_module {
  border: 1px solid #E6E6E6;
  color: #8A9A99;
  padding: 15px 0 25px 0;
}
section#pricing div.price_module p {
  margin-top: 0;
}
section#pricing div.price_module h2 {
  margin-bottom: 0;
}
section#pricing div.price_module strong,
section#pricing div.price_module h2 {
  font-size: 32px;
  font-weight: 600;
}
section#pricing div.price_module.first,
section#pricing div.price_module.last {
  border-left: none;
  border-right: none;
}

section#pricing div.price_module.free strong,
section#pricing div.price_module.free h2 {
  color: #CCCCCC;
}

section#pricing div.price_module.small strong,
section#pricing div.price_module.small h2 {
  color: #808080;
}

section#pricing div.price_module.medium strong,
section#pricing div.price_module.medium h2 {
  color: #80CBB6;
}
section#pricing div.price_module.large strong,
section#pricing div.price_module.large h2 {
  color: #4AC3F2;
}

section#slider_container {
  padding: 20px 0 40px;
}
div.tick.last {
  margin: 0 -2px;
}
section#pricing label:first-child {
  margin-right: 25px;
}
section#archiving {
  background-color: #E6F7FE;
  padding:40px 0;
}
section#archiving h4 {
  color: #353432;
  margin:0;
}
section#archiving strong {
  font-family: 'Chalet-LondonNineteenSixty';
  font-weight: normal;
}
.slide-container {
  width: 400px;
  margin: 10px auto;
}

section#trial_project {
  background-color: #F2F2F2;
  padding: 25px 0;
  margin:0 auto;
}
section#trial_project h3 {
  color: #6E6E6E;
}
section#trial_project h4 .dark {
  color: #020202;
}

section#trial_project .btn {
  margin-top: 15px;
}
section#faq {
  background-color: #777D7D;
  color: #FFF;
  padding: 25px 0;
}
section#faq .row-fluid {
  padding-bottom: 20px 0;
}
section#faq h2 {
  color:#FFF;
  font-weight: 400;
}
section#faq strong {
  font-family: 'Chalet-LondonNineteenSixty';
  font-weight: normal;
  font-size: 16px;
}
section#faq a {
  color: #30C3F9;
}

.accordion-group {
  border:none;
}

.accordion-toggle {
  background:url('../img/collapse-arrow-open.png') no-repeat left 9px;
  padding-left:20px;
  width:25a0px;
  margin:0 auto;
}

.collapsed {
  background:url('../img/collapse-arrow-closed.png') no-repeat left 9px;
}

span.savings { color: #999999; }

/****************** About Us page ****************/
body.about-us {
  color: #666666;
  font-size:16px;
}

#contant-us-block {
  margin-bottom:25px;
}

.social img {
  margin:-3px 10px 0;
}

.social img.facebook {
  margin-left:0;
}

.social a {
  color: #666;
  display:inline-block;
}

#about-us-block {
  background:#fafafc;
  border-top: 2px solid #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
  padding:35px 0;
  font-size:14px;
}

.profile { margin-bottom:50px; }
.profile.last { margin-bottom: 0; }
.profile-pic { width:122px; height:122px; }
.profile-title { margin:10px 0; }
.linkedin { margin-left:40px; }
.linkedin img { margin-top:-3px; }

/****************** Media Querries ****************/

/* Large desktop */
@media (min-width: 1200px) {
  section {
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1135px) {
  section#document-everything {
    background-position: -500px 0;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  section#faq strong {
    white-space: normal;
  }

  section.hero-wires .home-devices {
    width:400px;
  }

  section.thirds.light {
    margin-top: 25px;
  }
  section#chatter .container {
    background: transparent;
    height: auto;
  }
  section#chatter .chat_bubble,
  section#chatter .chat_bubble #chat1,
  section#chatter .chat_bubble #chat2,
  section#chatter .chat_bubble #chat3 {
    position: relative;
    top: 0 !important;
    left: 0 !important;
    height: auto !important;
    width: auto !important;
    background: none !important;
    color: #597781;
  }
  section.hero .hero-laptop,
  section#step-1 .container .hero,
  section#step-2 .container .hero,
  section#step-3 .container .hero {
    background-size: contain;
  }
  #step-1{
    background-position:340px;
    background-size:50%;
  }
  #step-2{
    background-position:-50px center;
  }
  #step-3{
    background-position:340px center;
    background-size:50%;
  }
  section.hero-mobile .mobile-devices {
    margin-left:300px;
    top:40px;
  }

  .seemless-devices {
    margin-left:40px;  
  }
  section#mobile-upsell .completely-free {
    margin-bottom: 0;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    padding: 0;
  }
  .container {
    padding: 0 20px;
  }
  .navbar .nav > li > a {
    margin-right: 15px;
  }
  section.hero-wires {
    /* height: 300px; */
  }

  section#document-everything {
    height: 300px;
    background-image: none;
  }
  section#document-everything .gradient{
    background: #343434;
    height: auto;
  }
  section#document-everything .text {
    margin: 0;
    width: 100%;
  }
  section#pricing div.price_module.first,
  section#pricing div.price_module.last {
    border: 1px solid #E6E6E6;
  }

  section.thirds.light {
    margin-top: 25px;
  }
  section#chatter .chat_bubble {
    position: relative;
    color: #597781;
    top: 0 !important;
    left: 0 !important;
  }
  section#chatter .container {
    background: transparent;
    height: auto;
  }
  section#chatter .chat_bubble,
  section#chatter .chat_bubble #chat1,
  section#chatter .chat_bubble #chat2,
  section#chatter .chat_bubble #chat3 {
    position: relative;
    top: 0;
    left: 0;
    height: auto !important;
    width: auto !important;
    background: none !important;
    color: #597781;
  }

  section.easy-steps .step-wrapper {
    border:none;
    border-bottom:1px solid #E6E6E6;
  }
  #step-3, #step-2, #step-1 {
    background:none;
    height:auto;
    padding:20px 0;
  }

  .section-content .intro-link {
    width: 50%;
  }

  section.hero-mobile .mobile-devices {
    display:none;
  }

  .seemless-devices {
    margin-left:20px;  
  }

  .seemless-devices .device {
    margin-left:0px;
  }
  section#mobile-upsell .completely-free {
    margin-bottom: 0;
  }

  section#mobile-upsell {
    text-align: center;
    margin:0 40px;
  }
}

@media(max-width: 760px) {
  section#mobile-details .seemless-devices {
    margin-left:35px;
  }

  section#mobile-details .device {
    margin-left:10px;
  }
  section.hero-wires .home-devices {
    display:none; 
  }

  section.hero-wires .hero-copy {
    float:none; 
    margin-left:100px;
  }

  section.hero-wires {
    padding-top:20px;
  }
}

@media(max-width:700px) {
  section#mobile-details .seemless-devices {
    margin-left:0px;
  }
}

@media(max-width:650px) {
  section#mobile-details .device {
    float:none;
    margin:20px auto;
  }

}

@media(max-width: 568px) {
  .section-content .intro-links {
    padding: 0px 0;
    margin-top: -10px;
    width: 100%;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .navbar-inner {
    padding: 0;
  }
  .navbar .nav > .active {
    display: none;
  }
  .navbar .signin {
    font-size: 12px;
    padding: 4px 8px;
  }
  section.upsell-boxes h4 {
    text-align: center;
  }
  section.upsell-boxes hr {
    width: 100%;
  }
  section.hero-wires {
    /* height: 200px; */
  }
  section#get-started a.btn-primary {
    margin-right: 0px;
  }
  .section-content .intro-link {
    width: 100%;
  }
}
